<!-- <style>
    .my-menu {
        /*Sets all the content of dropdown div to center*/
        text-align: center;
    }
</style> -->

    <div class="dropdown ">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="/home/:utsav">Utsav</a></li>
            <li><a href="/home/:yasin">Yasin</a></li>
            <li><a href="/home/:raj">Raj</a></li>
        </ul>
    </div>
