<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars</title>
</head>

<body>
    
    <h1>
        {{data.name}}  <br>
    <ul>
        {{#each data.sports}}
        <li>{{this}} <br></li>
        {{/each}}
    </ul>

  </h1>

</body>

</html>